
.navbar-custom {
    background-color: #333;
    z-index: 999;
    overflow: hidden;
    width: 100%;
  }
  #id_person, #id_transactionPerson{
    display: inline-block;
    width: 200px;
  }
  .fa-check{
    display: inline-block;
    padding-left: 20px;
    color: green;
  }
  .autocomplete, .transaction-autocomplete {
    display: inline;
  }
  .fa-times{
    display: inline-block;
    padding-left: 20px;
    color: red;
  }
  .navbar-brand, .navbar-text {
    color: white;
  }
  #loggedIn {
    color: white;
  }
  .tab.active {
    background: white;
    color: black;

  }
  .logout-button{
    padding-left: 10px;
    color: white;
  
  }
  .separator{
    padding-left: 10px;
    color: white;
  }
  .logout-button:hover{
    color: white;
  }
  /* .modal-footer{
   
  } */
  #footer-signout{
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 8px;
    background-color: #F6821E;
    border-color: #F6821E;
  }
  .inShop{
    padding-top: 20px;
  }
  #footer-cancel{
    height: 40px;
    width: 80px;
    color: grey;
    border-radius: 8px;
    background-color: white;
    border-color: gray;
  }
  /* #myTable {
  
    margin-left: 200px;
  } */
  .fa-trash-alt, .fa-sign-out-alt {
    color: #F6821E;
  }
  #line {
    color: white;
  }
  ul {
      list-style-type: none;
      z-index: 999;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    .active {
      background-color: #ffffff;
    }
    /* li {
      float: left;
    } */
    
    /* li a {
  
      display: block;
      color: white;
      text-align: right;
      padding: 14px 16px;
      text-decoration: none;
    } */
    
    /* Change the link color to #111 (black) on hover */
    
    /* Add a black background color to the top navigation */
  
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  #site-name{
    color: white;
    font-family: 'chunkFive';
  }
  /* Change the color of links on hover */
  .topnav  a#storename:hover {
  color: #F6821E;
  }
  
  /* Add a color to the active/current link */
  .topnav a:visited {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  
  }
  
  /* Right-aligned section inside the top navigation */
  /* .topnav {
  display: flex;
  justify-content: space-between;
  } */
  
    /* When you mouse over the navigation links, change their color */
  #storename{
    font-family: chunkFive;
  }
  .sidenav {
      font-family: chunkFive;
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 160px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1;/* Stay on top */
      top: 20; /* Stay at the top */
      left: 0;
      background-color: #F6821E; /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 80px;
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 15px;
      color: #ffffff;
      display: block;
    }
    .no-login{
      padding-left: 300px;
      padding-top: 100px;
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      background-color: #ffffff;
      color: #000000;
    }
    .sidenav a.active {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      }
    /* Style page content */
    .main {
      margin-left: 160px; /* Same as the width of the sidebar */
      padding: 0px 10px;
    }
    @font-face {
      font-family: 'chunkFive';
      src:  local('chunkFive'),url('../fonts/chunkfive/ChunkFive-Regular.otf') format("opentype");
      
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    #bikeLimit{padding-left: 20px;}