.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#signinTitle {
    color: white;
}

.listBody {
    background-color: white;
}

.signoutTitle {
    margin-bottom: 80px;
}

.topElements {
    margin-left: 100px;
    margin-right: 100px;
}

.signinButton {
    margin-top: 10px;
    margin-left: 10%;
    height: 60px;
    width: 80%;
    color: white;
    border-radius: 8px;
    background-color: #F6821E;
    border-color: #F6821E;
}

.newUserButton {
    height: 50px;
    width: 500px;
    color: white;
    border-radius: 8px;
    background-color: #F6821E;
    border-color: #F6821E;
}

.signinHeader {
    text-align: center;
}

.signinHeader {
    margin-top: 20px;
}

.summaryModal-body {
    margin-top: 20px;
    margin-left: 20px;
}

.returningUsers,
.signoutTitle,
.newUserTitle,
.signinTop {
    margin-top: 80px;
    font-family: chunkFive;
}

.returningUsersTitle {
    font-family: chunkFive;
}

#id_person {
    width: 300px;
}

.bottomElements {
    margin-top: 350px;
    left: 100px;
    position: absolute;
}

.top-child {
    width: 50%;
    float: left;
}

.noVisitors {
    text-align: center;
}

.summaryClose {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 8px;
    background-color: #F6821E;
    border-color: #F6821E;
}

.newUserForm {
    width: 80%;
    padding-left: 10%
}