

  .people_create-title{padding-top: 80px;}
  .people_create-title{
    font-family: chunkFive;
    margin-left: 200px;
}
#new{
  
  margin-bottom: 20px;
  color: white;
  border-radius: 8px;
  background-color: #F6821E;
  border-color: #F6821E;
}
.btn:hover {
  background-color: rgb(161, 87, 21); 
  color: white;
}

.bloc-indent {
  
  margin-left: 200px;
  margin-right: 300px;

}
.people-group{
  width: 80%;
}
