.transaction-title {
    padding-top: 80px;
}

.transaction-title {
    font-family: chunkFive;
    margin-left: 200px;
}

#new {
    margin-left: 200px;
    margin-bottom: 20px;
    color: white;
    border-radius: 8px;
    background-color: #F6821E;
    border-color: #F6821E;
}

.btn:hover {
    background-color: rgb(161, 87, 21);
    color: white;
}

.timelog-logo {
    padding-left: 8px;
}

.transaction-group {
    width: 80%;
    margin-left: 200px;
}