{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <meta charset=utf-8 />
</head>
<h1 class="dashboard-title"><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
</div>
<div class="top-row-dashboard">
  <button id="signIn" type="button" class="signin-button btn btn-lg" data-toggle="modal" data-target="#exampleModal"><i
    class="fas fa-sign-in-alt"></i>
  Sign Someone In</button>
<button id="charge" type="button" class="btn btn-lg charge-button" data-toggle="modal" data-target="#equity-modal"><i
    class="fas fa-tint"></i> Charge Equity</button>
    <!-- notifications -->
  {% if pending %}
    <div class="card pending-card ">
      <div class="card-header">
        Pending Cash Transactions
      </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="card-table table ">
          <tbody>
            {% for user in pending %}
            
            <tr>
              <td>{{ user.person }}</td>
              <td>{{ user.activity }}</td>
              <td>${{ user.balance }}</td>

  
    <form class="transaction-complete" method="POST" action="{% url 'transactions-complete' user.id %}">
      {% csrf_token %}
      <td> <button class="transaction-complete-submit" type="submit">
    <i  class="fas fa-check"></i>
      </button></td>
</form>
              

            </tr>
            
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

</div>
{% endif %}
<div class="modal fade quickSignin" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quick Sign-in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" >
          {% csrf_token %}
          <!-- <input type="search" >  -->
          <div class="autocomplete">
            <p> {{ form.person|as_crispy_field }}
            </p>
          </div>

          <datalist id="potentials">
          </datalist>

          <p> {{ form.activity|as_crispy_field }} </p>
          <p> {{ form.startTime|as_crispy_field }} </p>

      </div>
      <div class="modal-footer">
        <button id="footer-cancel" type="button" class="btn btn-secondary " data-dismiss="modal">Cancel</button>
        <button id="footer-signin" type="button" class="btn btn-primary" disabled>Sign in</button>

      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="equity-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionModalTitle">Quick Equity Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" >
          {% csrf_token %}
          <div class="transaction-autocomplete">
            <p> {{ transaction_form.transactionPerson|as_crispy_field }}
            </p>
          </div>

          <datalist id="potentials">
          </datalist>
          <p> {{ transaction_form.transactionType|as_crispy_field }} </p>
          <p> {{ transaction_form.amount|as_crispy_field }} </p>
          <p> {{ transaction_form.date|as_crispy_field }} </p>

      </div>
      <div class="modal-footer">
        <button id="footer-cancel" type="button" class="btn btn-secondary " data-dismiss="modal">Cancel</button>
        <button id="footer-transaction" type="submit" class="btn btn-primary" disabled>Create Transaction</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

<h2 class="inShop">In the Shop</h2>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card ">
      <div class="card-header">
        Volunteers
      </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="card-table table ">
          <thead>
            <tr>
              <th scope="col">Name</th>

              <th scope="col">Sign-in</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in obj %}
            {% if user.activity == 'Volunteering' %}
            <tr>
              <td>{{ user.person }}</td>

              <td>{{ user.startTime }}</td>
              <td><a class="signout-button" id="signout-button" data-id="{{user.id}}"
                  data-activity="{{ user.activity }}">
                  <i class="fas fa-sign-out-alt"></i>
                </a></td>
              <td><a class="delete-button" href="#deletemodal" data-toggle="modal" data-id="{{user.id}}"
                  data-target="#deletemodal">
                  <i class="far fa-trash-alt"></i>
                </a></td>

            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Visitors
      </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="card-table table ">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Activity</th>
              <th scope="col">Sign-in Time</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in obj %}
            {% if user.activity != 'Volunteering' %}
            <tr>
              <td>{{ user.person }}</td>
              <td>{{ user.activity }}</td>
              <td>{{ user.startTime }}</td>
              <td><a class="signout-button stand-time-signout" id="signout-button" data-id="{{user.id}}"
                  data-activity="{{user.activity}}">
                  <i class="fas fa-sign-out-alt"></i>
                </a></td> </a></td>
              <td><a class="delete-button" href="#deletemodal" data-toggle="modal" data-id="{{user.id}}"
                  data-target="#deletemodal">
                  <i class="far fa-trash-alt"></i>
                </a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<div class="col-sm-12">
  <div class="recents card">
    <div class="card-header">
      Recent Sign-Outs
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="card-table table ">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Activity</th>
            <th scope="col">Sign-in</th>
            <th scope="col">Sign-out</th>
            <th scope="col">Hours</th>
            <th scope="col">Balance</th>
            <th scope="col">Payment Type</th>

          </tr>
        </thead>
        <tbody>
          {% for recent in recents %}
          {% if user.activity != 'volunteering' %}
          <tr>
            <td>{{ recent.person }}</td>
            <td>{{ recent.activity }}</td>
            <td>{{ recent.startTime }}</td>
            <td>{{ recent.endTime }}</td>
            <td>{{ recent.hours }}</td>
            <td>${{ recent.balance }}</td>
            {% if recent.payment == 1 %}
            <td>Cash/Card</td>
            {% else %}
            <td>Sweat Equity</td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- standTimeEquityChoiceModal -->
<div class="modal fade" id="signoutStandTimeModal" tabindex="-1" role="dialog"
  aria-labelledby="signoutStandTimeModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signoutStandTimeModalLongTitle">Select Your Method of Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="signoutStandTimeModal-body">
        <form class="standTimeForm" action="" method="POST">
          {% csrf_token%}

          <ul class="listBody">

            <li>

              <button class="signoutButton signoutStandTimeModal-equity" data-id="Volunteering">Pay With Equity</button>

            </li>


            <li><button class="signoutButton signoutStandTimeModal-money" data-id="Stand Time">Pay With Cash/Credit
                Card</button></li>

          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary signoutStandTimeModal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SignoutModal -->
<div class="modal fade" id="signoutmodal" tabindex="-1" role="dialog" aria-labelledby="signoutmodalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signoutmodalLongTitle">Confirm sign out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        This will sign the user out in the database
      </div>
      <div class="modal-footer form-horizontal">
        <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form class="signoutform" action="" method="POST">{% csrf_token %}
          <button class="btn btn-secondary " id="footer-signout" value="" type="submit">Sign out</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  $(document).on('click', '.signout-button', function() {
        let userID = $(this).data('id');
        let activity = $(this).data('activity');
        let signoutURL = "userssignoutPublic/" + userID + "/" + "0/";
        console.log(signoutURL);
        console.log(userID);
        if (activity == 'Stand Time'){
                $("#signoutStandTimeModal").modal('show');
                $(document).on('click', '.signoutStandTimeModal-equity', function() {

                    signoutURL = "userssignoutPublic/" + userID + "/" + "0/";
                    $(".signoutform").attr('action', signoutURL).submit();
                    location.reload();

                    
                   
                


                });
                $(document).on('click', '.signoutStandTimeModal-money', function() {
                    signoutURL = "userssignoutPublic/" + userID + "/" + "1/";
                    $(".signoutform").attr('action', signoutURL).submit();
                    location.reload();
                    
                   
                });
                $(document).on('click', '.signoutStandTimeModal-close', function() {
                    window.location = "{% url 'signin' %}";
                   
                


                });


            }
            else{
                $("#signoutmodal").modal('show');
                
            }
        $(document).on('click', '#footer-signout', function() {
            $(".signoutform").attr('action', signoutURL).submit();
            
            
        });

    });
</script> -->
<script>
  var time = new Date().getTime();
  $(document.body).bind("mousemove keypress", function (e) {
    time = new Date().getTime();
  });

  function refresh() {
    if (new Date().getTime() - time >= 20000)
      window.location.reload(true);
    else
      setTimeout(refresh, 10000);
  }

  setTimeout(refresh, 10000);
</script>
<script>
  $('#footer-signin').click(function () {
    console.log('clicky');
        $.ajax({
            type: 'POST',
            url: "{% url 'signin-request'  %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'person': $('#id_person').val(),
                'userid' : $("#id_person").attr("data-userid"),
                'activity': $("#id_activity").val(),
                'startTime': $("#id_startTime").val()
            },
            dataType: 'json',

            success: function (res, status) {
                console.log('sent message')
                console.log(res)
                $("#signinModal").modal('hide');
                location.reload();


            },
            error: function (res) {
                console.log(res.status);
            }


        })
        $("#signinModal").modal('hide');
    });
  $(".quickSignin").on("hidden.bs.modal", function () {
    console.log("triggered close");
    location.reload();
  });
  $("#equity-modal").on("hidden.bs.modal", function () {
    console.log("triggered close");
    location.reload();
  });
</script>

{% endblock %}