<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>

<head>
    <title>BrokeSpoke</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/loginPage.css' %}">

</head>

<body>
    <div class="outer">
        <div class="middle">
            <div class="login-card">
                <h1>Broke Spoke <br>
                Shop Management</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input  type="submit" value="Login" class="loginButton">
                </form>
            </div>

        </div>
    </div>
    
</body>

</html>