{% extends 'base.html' %} {% block content %} {% load static %} {% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" href="{% static 'css/transaction_create.css' %}">
</head>
<style>
    td[data-href] {
        cursor: pointer;
    }
</style>
<div class="people_create-title">
    <h1> {{person.firstname }} {{ person.middlename }} {{ person.lastname }}</h1>
    <p> Equity: {{ person.equity }}</p>
    {% if person.lastVisit != 'NULL' %}
    <p> Last Seen: {{ person.lastVisit }}</p>
    {% else %}
    <p> Last Seen: --- </p>
    {% endif %}
    <div style="display: inline-flex;">
        <p>
            Sweat Equity Bike Purchases: {{ numBikes }} {% if numBikes >= 2%}
            <p id="bikeLimit" style="color: red;">YTD bike limit reached</p>
            {% endif %}
        </p>


    </div>
    <br>
    <div style="display: inline-flex;">
    <p>Number of Volunteer Shifts: {{ numShifts }} {% if numShifts >= volunteerAlert %}
        <p id="volunteerAlert" style="color: green">Volunteer Alert Reached!</p>
        {% endif %}</p>
    </div>
    <br>
    <div style="display: inline-flex;">
        <p>Membership Status: </p>
        {% if isvalid != 0 %}
        <p>Active. Ending: {{ membershipExp }}</p>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>








</div>
<div class="bloc-indent">
    <hr>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-home" aria-selected="true">User</a>
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-profile" aria-selected="false">Timelogs</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Sweat Equity Transactions</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show " id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <p> {{ form.firstname|as_crispy_field }} </p>
                <p> {{ form.middlename|as_crispy_field }} </p>
                <p> {{ form.lastname|as_crispy_field }}</p>
                <p> {{ form.waiverAcceptedDate|as_crispy_field }}</p>
                <p> {{ form.membershipExp|as_crispy_field }}</p>
                <p> {{ form.birthdate|as_crispy_field }}</p>
                <h2>Contact Information</h2>
                <hr>
                <p></p>Optional</p>
                <p> {{ form.email|as_crispy_field }} </p>
                <p> {{ form.phone|as_crispy_field }} </p>
                <h2>Emergency Contact
                </h2>
                <hr>
                <p>Optional for adults, required for minors</p>
                <p>{{ form.emergencyName|as_crispy_field }} </p>
                <p>{{ form.relation|as_crispy_field }} </p>
                <p>{{ form.emergencyPhone|as_crispy_field }} </p>

                <input id="new" type="submit" class="btn btn-lg save-edits" value="Save Edits" />
            </form>
        </div>
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table display table-bordered compact peopleTimelogs" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Hours</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
            </table>

        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="transaction-group">
                <table class="table  table-bordered compact peopleTransactions" id="myTable2"> 
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    
                </table>
        
            </div>

        </div>

    </div>
</div>
<script>
    $('#myTable2').on( 'click', 'tbody td', function () {
        console.log("this" + $(this).find("a").attr("class"));
        if ($(this).find("a").attr("class") == "timelogs-delete-button" || $(this).find("a").attr("class") == "trans-delete-button"){
            console.log("delete button");

        }
        else{
            window.location.href = "/"+$(this).data('href');

        }

        // console.log((this.data('href')));

} );
</script>
<script>
   
    $(document).ready(function () {
        formArray = ['firstname','middlename','lastname','waiverAcceptedDate','membershipExp','birthdate','email','phone','emergencyName','relation','emergencyPhone'];
        for (let index = 0; index < formArray.length; index++) {
            const element = formArray[index];
                document.getElementById("id_"+formArray[index]).value = $("#id_"+formArray[index]).attr('placeholder');
           
        }

});
    // $(".save-edits").on('click', function () {
    //     formArray = ['firstname','middlename','lastname','waiverAcceptedDate','membershipExp','birthdate','email','phone','emergencyName','relation','emergencyPhone'];
    //     for (let index = 0; index < formArray.length; index++) {
    //         const element = formArray[index];
    //         if (document.getElementById("id_"+formArray[index]).value){
    //             console.log(formArray[index] + "has value");
    //         }
    //         else{
    //             document.getElementById("id_"+formArray[index]).value = $("#id_"+formArray[index]).attr('placeholder');
    //         }
    //     }
    // });
</script>

<div class="modal fade" id="edit-deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletemodalLongTitle">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
            </div>
            <div class="modal-body">
                This will delete the user from the database
            </div>
            <div class="modal-footer form-horizontal">
                <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="" class="deleteform" method="POST">{% csrf_token %}
                    <button class="btn btn-secondary " id="footer-delete" type="submit"> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTable').on( 'click', 'tbody td', function () {
        console.log("this" + $(this).find("a").attr("class"));
        if ($(this).find("a").attr("class") == "timelogs-delete-button"){
            console.log("delete button");

        }
        else{
            window.location.href = "/"+$(this).data('href');

        }

        // console.log((this.data('href')));

} );
</script>

<script>
    $(document).on('click', '.delete-button', function() {
        let userID = $(this).data('id');
        deleteURL = "/delete/" + userID + "/";
        console.log(deleteURL);
        console.log(userID);
        $(document).on('click', '#footer-delete', function() {
            $(".deleteform").attr('action', deleteURL).submit();

        });

    });
</script>
<!-- <script>
    $(document).on('click', '.t-delete-button', function() {
        let userID = $(this).data('id');
        deleteURL = "/userstransaction-delete/" + userID + "/";
        console.log(deleteURL);
        console.log(userID);
        $(document).on('click', '#footer-delete', function() {
            $(".deleteform").attr('action', deleteURL).submit();

        });

    });
</script> -->
<!-- DeleteModal -->
<div class="modal fade" id="transdeletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletemodalLongTitle">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  </button>
            </div>
            <div class="modal-body">
                This will delete the Transaction from the database
            </div>
            <div class="modal-footer form-horizontal">
                <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="" class="deleteform" method="POST">{% csrf_token %}
                    <button class="btn btn-secondary " id="trans-footer-delete" type="submit"> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}