{% extends 'base.html' %} {% block content %} {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/people.css' %}">
</head>
<h1 class="dashboard-title"><i class="fas fa-user"></i> People</h1>
<style>
    td[data-href] {
        cursor: pointer;
    }
</style>

<a id="New" href="/people/new" class="btn btn-lg">
    <i class="fas fa-plus"></i> New Person
</a>
<div>
    <div class="people-group">
        <table class="table display table-bordered compact  peopleTable" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Visit</th>
                    <th scope="col">Equity</th>
                    <th scope="col">Waiver Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
        </table>

    </div>
    
    <div class="modal fade" id="userDeletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletemodalLongTitle">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
                </div>
                <div class="modal-body">
                    This will delete the user from the database
                </div>
                <div class="modal-footer form-horizontal">
                    <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="" class="deleteform" method="POST">{% csrf_token %}
                        <button class="btn btn-secondary " id="footer-delete-user" type="submit"> Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).on('click', '.user-delete-button', function() {
            let userID = $(this).data('id');
            deleteURL = "user-delete/" + userID + "/";
            console.log(deleteURL);
            console.log(userID);
            $(document).on('click', '#footer-delete-user', function() {
                $(".deleteform").attr('action', deleteURL).submit();

            });

        });
        $(document).on('click', ".tableRow-edit", function() {

        });
    </script>
<script>
    $('#myTable').on( 'click', 'tbody td', function () {
        console.log("this" + $(this).find("a").attr("class"));
        if ($(this).find("a").attr("class") == "user-delete-button"){
            console.log("delete button");

        }
        else{
            window.location.href = $(this).data('href');

        }

        console.log((this.data('href')));

} );
</script>
    {% endblock %}