<!DOCTYPE html> {% load static %} {% load crispy_forms_tags %}

<html>

<head>
    <title>BrokeSpoke</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3081ab8ec0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- end AJAX -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- for autocomplete -->
    <!-- for datetime -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <!-- end datetime -->
</head>
{% if user.is_authenticated %}
<div class="fixed-top">
    <nav class="navbar navbar-custom  navbar-expand-lg  ">
        <a class="navbar-brand" id="site-name">BrokeSpoke</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </nav>
</div>
{% if summary %}
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="summaryModalLongTitle">Thank you {{ summary.name }}!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="summaryModal-body">

                <p>Here is a summary of your visit:</p>

                <p>
                    <strong>Duration: </strong> {{summary.elapsed}} hours({{ summary.startTime }} to
                    {{summary.endTime}}) </p>
                <p>
                    <strong>Activity: </strong> {{summary.activity}} </p>
                <p>
                    <strong>Equity Earned: </strong>${{summary.earned}}
                </p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'signin' %}">
                    <button class=" btn btn-secondary ">Close</button></form>

            </div>
        </div>
    </div>
</div>{% endif%}
<!-- standTime summary -->
<div class="modal fade" id="standTimeSummaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title standTimeSummaryModal-name" id="standTimeSummaryModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="standTimeSummaryModal-body">

                <p>Here is a summary of your visit:</p>

                <p class=" standTimeSummaryModal standTimeSummaryModal-duration">
                     </p>
                <p class="standTimeSummaryModal standTimeSummaryModal-activity">
                     </p>
                <p class="standTimeSummaryModal standTimeSummaryModal-equity">
                    </p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'signin' %}">
                    <button class=" btn btn-secondary ">Close</button></form>

            </div>
        </div>
    </div>
</div>
<!-- end standTimeSummary -->
<div class="topElements">
    <div class=" top-child signin">
        <h2 class="returningUsers">Sign In</h2>
        <h3 class="returningUsersTitle">Returning Users</h3>
        <form class="btn-lg " action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="autocomplete">
                <p> {{ form.person|as_crispy_field }}
                </p>
            </div>
            <datalist id="potentials">
            </datalist>
        </form>
    </div>
    <div class="top-child signout">
        <h2 class="signoutTitle">Sign out</h2>


        <div class="card ">
            <div class="card-header">
                Volunteers
            </div>
            {% if currentUsers %}
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="card-table table ">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Sign-in</th>
                            <th scope="col">Sign-out</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in currentUsers %}

                        <tr>
                            <td>{{ user.person }}</td>
                            <td>{{ user.activity }}</td>
                            <td>{{ user.startTime }}</td>
                            <td>
                                <a class="btn btn-secondary signout-button" id="signout-button" data-activity="{{user.activity}}"
                                    data-id="{{user.id}}" data-target="#signoutmodal">
                                    Sign out
                                    <!-- href="#signoutmodal" data-toggle="modal" -->
                                </a>
                            </td>
                            

                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p class="noVisitors">There are no visitors
                </p>
                {%endif%}
            </div>


        </div>
    </div>
</div>

<div class="bottomElements">
    <div class="new-visitor">
        <h3 class="newUserTitle">New Users</h3>
        <button class="newUserButton"> New Visitors Click Here To Register
        </button>
    </div>
</div>


{% endif %}
<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="signinModal-body">
                <h5 class="signinHeader">Select your activity below to sign in</h5>
                <ul class="listBody">

                    <li>

                        <button class="signinButton volunteerButton" data-id="Volunteering">Volunteering</button>

                    </li>


                    <li><button class="signinButton standTimeButton" data-id="Stand Time">Stand Time</button></li>

                    <li><button class="signinButton shoppingButton" data-id="Shopping">Shopping for
                            parts/bikes</button></li>

                    <li><button class="signinButton otherButton" data-id="Other">Other</button></li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- WaiverModal -->
<div class="modal fade " id="waiverModal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="waiverModalLongTitle">Broke Spoke Shop Usage Waiver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body new-user-body">



            </div>
            <div class="modal-footer form-horizontal">
                <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button class="btn btn-secondary " id="footer-waiver-accept" type="button">Accept Waiver</button>

            </div>
        </div>

    </div>
</div>
<!-- standTimeEquityChoiceModal -->
<div class="modal fade" id="signoutStandTimeModal" tabindex="-1" role="dialog"
    aria-labelledby="signoutStandTimeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signoutStandTimeModalLongTitle">Select Your Method of Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="signoutStandTimeModal-body">
                <h5 class="signinHeader">Payment Options for Stand Time</h5>
                <ul class="listBody">

                    <li>

                        <button class="signoutButton signoutStandTimeModal-equity" data-id="Volunteering">Pay With
                            Equity</button>

                    </li>


                    <li><button class="signoutButton signoutStandTimeModal-money" data-id="Stand Time">Pay With
                            Cash/Credit Card</button></li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary signoutStandTimeModal-close"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalLongTitle">Create an Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="newUserModal-body">
                <form class="newUserForm" autocomplete="off" action="" method="POST">
                    {% csrf_token %}

                    <p> {{ user_form.firstname|as_crispy_field }} </p>
                    <p> {{ user_form.middlename|as_crispy_field }} </p>
                    <p> {{ user_form.lastname|as_crispy_field }}</p>


                    <p> {{ user_form.email|as_crispy_field }} </p>
                    <p> {{ user_form.phone|as_crispy_field }} </p>
                    <p> {{ user_form.birthdate|as_crispy_field }}</p>
                    <p>{{ user_form.emergencyName|as_crispy_field }} </p>
                    <p>{{ user_form.relation|as_crispy_field }} </p>
                    <p>{{ user_form.emergencyPhone|as_crispy_field }} </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary createUserClose" data-dismiss="modal">Close</button>
                <button type="button" class="selector newUserContinue">Continue</button>
            </div>
            </form>
        </div>
    </div>
</div>


</html>
<script>
    $("#footer-cancel").on('click', function () {
                    location.reload();
                });
    $(".createUserClose").on('click', function () {
                    location.reload();
                });
    $(function () {
        $('.selector').click(function () {
            if ($("#id_firstname").val() && $("#id_middlename").val() && $("#id_lastname").val()) {
                var newUserData = $(".newUserForm").serialize();
                console.log("this is the user data" + newUserData);
                $('#newUserModal').one('hidden.bs.modal', function () {
                    $('#waiverModal').modal('show');
                }).modal('hide');
                var content = ` <p>Thank you for working today. We greatly appreciate your assistance and commitment to Broke Spoke.
                 This is an annual form where you agree to release Broke Spoke, and its officers and directors
                  of all liability while working with Broke Spoke.</p>
                  <br>
                  <p>This Release and Waiver of Liability (the “Release”) executed on this 28th day of July 2020,
                       by <strong>` + $("#id_firstname").val() + ` ` + $("#id_middlename").val() + ` ` + $("#id_lastname").val() + ` </strong> (the “Visitor”) in favor of Broke Spoke, and its’ officers, directors, and 
                       agents (collectively, “Broke Spoke”). The Visitor desires to work as a visitor for Broke Spoke
                        and engage in the activities related to being a visitor (the “Activities”). The Visitor understands
                         that the Activities may include construction and work on the Broke Spoke facility, working in bike shop,
                          and participating in special events and fundraisers, and participating in Broke Spoke sponsored bicycle 
                          rides or other events. The Visitor hereby freely, voluntarily, and without duress executes this Release 
                          under the following terms:</p>
                    <br>
                    <p><strong>Release and Waiver:</strong> Visitor does hereby release and forever discharge and hold harmless Broke Spoke and it successors
                         and assigns from any and all liability, claims, and demands of whatever kind or nature, either in law or in equity, 
                         which arise or may hereafter arise from Visitor’s Activities with Broke Spoke. Visitor understands that this Release discharges
                          Broke Spoke from any liability or claim that the Visitor may have against Broke Spoke with respect to any bodily injury, personal injury,
                           illness, death, or property damage that may result from the Visitor’s Activities with Broke Spoke, whether caused by the negligence of Broke
                            Spoke or otherwise. Visitor also understands that Broke Spoke does not assume any responsibility for or obligation to provide financial assistance
                             or other assistance, including but not limited to medical, health, or disability insurance in the event of injury or illness.</p>
                             <br>
                    <p><strong>Medical Treatment:</strong>  Visitor does hereby release and forever discharge Broke Spoke from any claim whatsoever which arises or may hereafter arise 
                        on account of any first aid, treatment, or service rendered in connection with the Visitor’s Activities with Broke Spoke.</p>
                        <br>
                        <p><strong>Assumption of the Risk:</strong> The Visitor understands that the Activities includes work that may be hazardous to the Visitor,
                             including, but not limited to, construction, loading and unloading, and transportation to and from the work sites. Visitor hereby expressly
                              and specifically assumes the risk of injury or harm in the Activities and releases Broke Spoke from all liability for injury, illness, death, 
                              or property damage resulting from the Activities.</p>
                              <br>
                              <p><strong>Insurance: </strong>The Visitor understands that, except as otherwise agreed to by Broke Spoke in writing, Broke Spoke does not carry
                                 or maintain health, medical, or disability insurance for any Visitor.</p>
                                 <br>
                                 <p>Each Visitor is expected and encouraged to obtain his or her own medical or health insurance coverage.

                                </p>
                                <br>
                                <p><strong>Photographic Release:</strong> Visitor does hereby grant and convey unto Broke Spoke all rights, title,
                                     and interest in any and all photographic images and video or audio recordings made by Broke Spoke during the Visitor’s
                                      Activities with Broke Spoke, including, but not limited to, any royalties, proceeds, or other benefits derived from such 
                                      photographs or recordings.

                                </p>
                                <br>
                                <p>
                                    <strong>Other:</strong> Visitor expressly agrees that this Release in intended to be as broad and inclusive as permitted by the
                                     laws of the Commonwealth of Kentucky and that this Release shall be governed by and interpreted in accordance with the laws of the
                                      Commonwealth of Kentucky. Visitor agrees that in the event that any clause or provision of this Release shall be held to be invalid 
                                      by any court of competent jurisdiction, the invalidity of such clause or provision shall not otherwise affect the remaining provisions 
                                      of this Release which shall continue to be enforceable.
                                </p>
                                <br>

                                <p>IN WITNESS WHEREOF, Visitor has executed this Release as of the day and year first above written.

                                </p>`
                $(".new-user-body").html(content);
                $("#footer-waiver-accept").click(function () {
        console.log("now is the time to send");
        $.ajax({
            type: 'POST',
            url: "{% url 'people-create' %}",
            data: newUserData,
            dataType: 'json',

            success: function (res, status) {
                console.log('sent message')
                console.log(res)
                location.reload();


            },
            error: function (res) {
                $('#waiverModal').one('hidden.bs.modal', function () {
                    $('#newUserModal').modal('show');
                    $("#emptyError-first").remove();
                    console.log(res.message);
                    $("#id_firstname").after('<p id="emptyError-first" style="color:red;">Please make sure the user does not already exist </p>');
                }).modal('hide');
                
            }
        });
        // $(".newUserForm").attr('action', "{% url 'people-create' %}").submit();

    });


            }
            else {
                if (!$("#id_firstname").val()) {
                    $("#emptyError-first").remove();
                    $("#id_firstname").after('<p id="emptyError-first" style="color:red;">Must Include First Name</p>');

                } else { $("#emptyError-first").remove(); }

                if (!$("#id_middlename").val()) {
                    $("#emptyError-middle").remove();
                    $("#id_middlename").after('<p id="emptyError-middle" style="color:red;">Must Include Middle Name, Initial, or Nickname</p>');

                } else { $("#emptyError-middle").remove(); }
                if (!$("#id_lastname").val()) {
                    $("#emptyError-last").remove();
                    $("#id_lastname").after('<p id="emptyError-last" style="color:red;">Must Include Last Name</p>');
                } else { $("#emptyError-last").remove(); }


                console.log("not filled out completely");

            }

        });
    });
</script>
<script>
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress", function(e) {
        time = new Date().getTime();
    });
  
    function refresh() {
        if(new Date().getTime() - time >= 20000) 
            window.location.reload(true);
        else 
            setTimeout(refresh, 10000);
    }
  
    setTimeout(refresh, 10000);
  
    $("#summaryModal").ready(function () {
        $("#summaryModal").modal('show');
    });
    $("#summaryModal").on("hidden.bs.modal", function () {
        console.log("triggered close");
        location.reload();
    });
    $("#signinModal").on("hidden.bs.modal", function () {
        console.log("triggered close");
        location.reload();
    });
    $(".newUserButton").click(function () {
        $("#newUserModal").modal('show');
    });
    $("#id_person").attr('list', "potentials");
    $('.signinButton').click(function () {
        var d = new Date($.now());
        // var currentDateTime = (d.getMonth() + 1) + "/" + (d.getDate()) + "/" + (d.getFullYear()) + " " + (d.getHours()) + ":" + d.getMinutes();
        // console.log(currentDateTime);
        $.ajax({
            type: 'POST',
            url: "{% url 'signin-request'  %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'person': $('#id_person').val(),
                'userid' : $("#id_person").attr("data-userid"),
                'activity': $(this).attr("data-id")
                // 'startTime': currentDateTime
            },
            dataType: 'json',

            success: function (res, status) {
                console.log('sent message')
                console.log(res)
                $("#signinModal").modal('hide');
                location.reload();


            },
            error: function (res) {
                console.log(res.status);
            }


        })
        $("#signinModal").modal('hide');
    });

    $(document).on('click', '.signout-button', function () {
        let userID = $(this).data('id');
        let activity = $(this).data('activity');
        let signoutURL = "signoutPublic/" + userID + "/" + "0/";
        console.log(signoutURL);
        console.log(userID);
        if (activity == 'Stand Time') {
                let signoutURL = "signoutPublic/" + userID + "/" + "1/";
                console.log(signoutURL);
                $("#signoutStandTimeModal").modal('show');
                $(document).on('click', '.signoutStandTimeModal-equity', function () {
                    signoutURL = "signoutPublic/" + userID + "/" + "0/";
                    $.ajax({
                        type: 'POST',
                        url: signoutURL,
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'id': userID,
                            'payment': "0",
                        },
                        dataType: 'json',

                        success: function (res, status) {
                            console.log('sent message');
                            console.log(res);
                            console.log("this is the status->" + res.status);
                            console.log("this is the summary->" + res.summary.name);
                            // console.log("this is the summary2->" + res.summary['activity'])
                            // console.log("this is the summary3->" + res[1].activity)
                            // console.log("this is the summary4->" + res[1])
                            // $("#signoutStandTimeModal").modal('hide');
                            // location.reload();
                            $('#signoutStandTimeModal').one('hidden.bs.modal', function () {
                    $('#standTimeSummaryModal').modal('show');
                }).modal('hide');
                $(".standTimeSummaryModal-name").html( "<strong>Thanks "+res.summary.name+"! </strong>   </p>");
                $(".standTimeSummaryModal-duration").html("<strong>Duration: </strong> "+res.summary.elapsed+"  </p>");
                $(".standTimeSummaryModal-activity").html("<strong>Activity: </strong> "+res.summary.activity+"  </p>");
                $(".standTimeSummaryModal-equity").html("<strong>Equity Earned: </strong> $"+res.summary.earned+"  </p>");


                        },
                        error: function (res) {
                            console.log(res.status);
                            console.log(res);
                        }


                    })
                });
                $(document).on('click', '.signoutStandTimeModal-money', function () {
                    signoutURL = "signoutPublic/" + userID + "/" + "1/";
                    $.ajax({
                        type: 'POST',
                        url: signoutURL,
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'id': userID,
                            'payment': "1",
                        },
                        dataType: 'json',

                        success: function (res, status) {
                            $('#signoutStandTimeModal').one('hidden.bs.modal', function () {
                    $('#standTimeSummaryModal').modal('show');
                }).modal('hide');
                $(".standTimeSummaryModal-name").html( "<strong>Thanks "+ res.summary.name +"! </strong>   </p>");
                $(".standTimeSummaryModal-duration").html("<strong>Duration: </strong> "+ res.summary.elapsed +"  </p>");
                $(".standTimeSummaryModal-activity").html("<strong>Activity: </strong> "+ res.summary.activity +"  </p>");
                $(".standTimeSummaryModal-equity").html("<strong>Equity Earned: </strong> $"+ res.summary.earned +"  </p>");


                        },
                        error: function (res) {
                            console.log(res.status);
                        }


                    })
                });




            }
            else {

                let signoutURL = "signoutPublic/" + userID + "/" + "0/";
                $("#signoutmodal").modal('show');
            }
        $(document).on('click', '#footer-signout', function () {
            $(".signoutform").attr('action', signoutURL).submit();


        });

    });

    $(document).on('click', '.delete-button', function () {
        let userID = $(this).data('id');
        deleteURL = "deletePublic/" + userID + "/";
        console.log(deleteURL);
        console.log(userID);
        $(document).on('click', '#footer-delete', function () {
            $(".deleteform").attr('action', deleteURL).submit();
        });

    });
    $(document).on('change', '#id_person', function () {
        var userInput = $(this).val();
        console.log("selected user is " + userInput);
        $.ajax({
            type: 'GET',
            url: "{% url 'validate' %}",
            data: {
                'validation_query': userInput,
            },
            dataType: 'json',

            success: function (res, status) {
                $(".fa-check").remove();
                $(".fa-times").remove();
                $("#noperson").remove();
                if (res['id'] == 'undefined' || res == 'no persons found') {
                    $("#potentials").after('<p id="noperson" style="color:red;">No persons found</p>');
                    $("#id_person").after("<i class='fas fa-times'></i>");
                } else if (res == 'not enough characters') {
                    $("#potentials").after('<p id="noperson" style="color:red;">Must enter a correct name</p>');
                    $("#id_person").after("<i class='fas fa-times'></i>");
                } else {
                    // console.log("this is the response = " + res['id']);
                    var welcomeMessage = 'Welcome, ' + userInput;
                    $("#id_person").after("<i class='fas fa-check'></i>");
                    console.log('trying to add '+res['id'])
                    $("#id_person").attr("data-userid" ,res['id']);
                    $("#noperson").remove();
                    $("#signinModal").modal('show');
                    $("#signinModalLongTitle").html(welcomeMessage)
                }


            },
            error: function (res) {
                console.log(res.status);
            }
        })
    });
    $(document).on('input', '#id_person', function () {
        let search_query = $(this).val();
        console.log(search_query);
        $.ajax({
            type: 'GET',
            url: "{% url 'search' %}",
            data: {
                'search_query': search_query
            },
            dataType: 'json',
            success: function (res, status) {
                if (res[0] == 'no persons found') { } else if (res[0] == 'Enter Last name') { } else {
                    $("#potentials").empty();
                    $.each(res, function (i, item) {
                        console.log(res[i].firstname);
                        $("#potentials").append($("<option>").attr('value', res[i].firstname + " " + res[i].middlename + " " + res[i].lastname));
                    });
                    console.log(status);
                }
            },
            error: function (res) {
                console.log(res.status);
            }
        })
    });
</script>
<!-- SignoutModal -->
<div class="modal fade" id="signoutmodal" tabindex="-1" role="dialog" aria-labelledby="signoutmodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signoutmodalLongTitle">Confirm sign out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                This will sign the user out in the database
            </div>
            <div class="modal-footer form-horizontal">
                <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form class="signoutform" action="" method="POST">{% csrf_token %}
                    <button class="btn btn-secondary " id="footer-signout" value="" type="">Sign out</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end waivermodal -->
<!-- <div class="modal-xl" id="waiverModal" tabindex="-1" role="dialog" aria-labelledby="waiverModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="waiverModalLongTitle">Broke Spoke Shop Usage Waiver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            
            <div class="modal-footer form-horizontal">
                <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form class="waiverForm" action="" method="POST">{% csrf_token %}
                    <button class="btn btn-secondary " id="footer-waiver" value="" type="">Accept Waiver</button>
                </form>
            </div>
        </div>
    </div>
</div> -->