{% extends 'base.html' %} {% block content %} {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/timelogs.css' %}">
</head>
<style>
    td[data-href] {
        cursor: pointer;
    }
</style>
<h1 class="timelog-title"><i class="far fa-clock"></i> Timelogs</h1>
<a id="new" href="/timelogs/new" class="btn btn-lg">
    <i class="fas fa-plus"></i> New Timelog
</a>
<div>
    <div class="timelog-group">
        <table class="table display table-bordered compact " id="myTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Hours</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <!-- <tbody>
                {% for user in obj %}
                <tr>
                    <td data-href="{% url 'timelogs-edit' user.id %}">{{ user.person }}</td>
                    <td id="startTime" data-href="{% url 'timelogs-edit' user.id %}">{{ user.startTime }}</td>
                    <td data-href="{% url 'timelogs-edit' user.id %}">{{ user.endTime }}</td>
                    <td data-href="{% url 'timelogs-edit' user.id %}">{{ user.activity }}</td>
                    <td data-href="{% url 'timelogs-edit' user.id %}">{{ user.hours }}</td>
                    <td>
                        <a class="timelogs-delete-button" href="#deletemodal" data-toggle="modal" data-id="{{user.id}}" data-target="#timelogsdeletemodal">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody> -->
        </table>

    </div>

    <script>
        $('#myTable').on( 'click', 'tbody td', function () {
            console.log("this" + $(this).find("a").attr("class"));
            if ($(this).find("a").attr("class") == "timelogs-delete-button"){
                console.log("delete button");

            }
            else{
                window.location.href = $(this).data('href');

            }

            // console.log((this.data('href')));
    
} );
    </script>




    {% endblock %}