{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" href="{% static 'css/timelogs_create.css' %}">
    {{ form.media }}
   </head>
<h1 class="people_create-title"> New Timelog</h1>
 <div class="bloc-indent">
<hr>
<form method="POST" autocomplete='off'> 
    {% csrf_token %}
    <div class="autocomplete">
        <p> {{ form.person|as_crispy_field }}
        </p>
      </div>
      <datalist id="potentials">
    </datalist>
    <p>{{ form.activity|as_crispy_field }}    </p>
    <p>{{ form.startTime|as_crispy_field }}</p>
    <p>{{ form.endTime|as_crispy_field }}</p>
<input  id="new" type="submit" class="btn btn-lg new-timelogs" value="Create New Timelog" disabled/>
</form>
 </div>
{% endblock %}