{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" href="{% static 'css/timelogs_create.css' %}">
    {{ form.media }}
   </head>
<h1 class="people_create-title"> Edit Timelog</h1>
 <div class="bloc-indent">
<hr>
<form method="POST" autocomplete="off"> 
    {% csrf_token %}
    <div class="autocomplete">
        <p> {{ form.person|as_crispy_field }}
        </p>
      </div>
      <datalist id="potentials">
    </datalist>
    <p>{{ form.activity|as_crispy_field }}    </p>
    <p>{{ form.startTime|as_crispy_field }}</p>
    <p>{{ form.endTime|as_crispy_field }}</p>
    <p> {{form.payment|as_crispy_field }}</p>
<input  id="new" type="submit" class="btn btn-lg save-timelog timelogs-edit" value="Save Timelog"/>
</form>
 </div>

 <script>
   $(".save-timelog").on('click', function () {
        formArray = ['person','startTime','endTime'];
        for (let index = 0; index < formArray.length; index++) {
            const element = formArray[index];
            if (document.getElementById("id_"+formArray[index]).value){
                console.log(formArray[index] + "has value");
            }
            else{
                document.getElementById("id_"+formArray[index]).value = $("#id_"+formArray[index]).attr('placeholder');
            }
            document.getElementById("id_activity").value = $("#id_activity").attr('placeholder')
        }
    });
 </script>
 <script>
  $(document).ready(function(){
    $("#id_person").val( $("#id_person").attr('placeholder')).submit();
    $("#id_startTime").val( $("#id_startTime").attr('placeholder')).submit();
    $("#id_endTime").val( $("#id_endTime").attr('placeholder')).submit(); 
    let placeholder = $("#id_activity").attr('placeholder');
    if(placeholder == 'Stand Time'){
      $("#div_id_payment").show();
      $("#id_payment").val( $("#id_payment").attr('placeholder')).submit(); 
    }
    else{$("#div_id_payment").hide();}
    var text1 = placeholder;
    $("select option").filter(function() {
    //may want to use $.trim in here
    return $(this).text() == text1;
    }).prop('selected', true);
    
    console.log(placeholder);
    // $("#id_activity").val() = $("#id_activity").attr('placeholder');
   
  });
$("#id_activity").on('change', function(){
 let activity = $("#id_activity").val();
 console.log(activity);
 if (activity == 'Stand Time'){
   console.log("try to show");
   $("#div_id_payment").show();
 }
 else{
   console.log("try to hide");
   $("#div_id_payment").hide();

 }
})
</script>
{% endblock %}