{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
</head>
<style>
  td[data-href] {
    cursor: pointer;
  }
</style>
<h1 class="transaction-title"><i class="fas fa-tint"></i> Transactions</h1>
<a id="new" href="/transactions/new" class="btn btn-lg">
  <i class="fas fa-plus"></i> New Transaction
</a>
<div>
  <div class="transaction-group">
    <table class="table display table-bordered compact " id="myTable">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in obj %}
        <tr>
          <td  data-href="{% url 'transactions-edit' user.id %}">{{ user.date }}</td>
          <td  data-href="{% url 'transactions-edit' user.id %}">{{ user.transactionPerson }}</td>
          <td  data-href="{% url 'transactions-edit' user.id %}">{{ user.transactionType }}</td>
          <td  data-href="{% url 'transactions-edit' user.id %}">{{ user.amount }}</td>
          <td  data-href="{% url 'transactions-edit' user.id %}">{{ user.paymentType }}</td>
          <td><a class="trans-delete-button" href="#trans-deletemodal" data-toggle="modal" data-id="{{user.id}}" data-target="#transdeletemodal">
            <i class="far fa-trash-alt"></i>
          </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <!-- DeleteModal -->
<div class="modal fade" id="transdeletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deletemodalLongTitle">Confirm Deletion</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <div class="modal-body">
      This will delete the Transaction from the database
    </div>
    <div class="modal-footer form-horizontal">
      <button type="button" id="footer-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <form action="" class="deleteform" method="POST">{% csrf_token %}
        <button class="btn btn-secondary " id="trans-footer-delete" type="submit"> Delete</button>
      </form>
    </div>
  </div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll("td[data-href]");
    rows.forEach(row => {
      row.addEventListener("click", () => {
        window.location.href = row.dataset.href;
      })
    })
  })
</script>

<script>
$(document).on('click','.trans-delete-button', function (){
let userID = $(this).data('id');
deleteURL = "userstransaction-delete/" + userID + "/";
console.log(deleteURL);
console.log(userID);
$(document).on('click', '#trans-footer-delete', function(){
$(".deleteform").attr('action',deleteURL).submit();

});

});
</script>



  {% endblock %}