{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
</head>
<h1 class="transaction-title"><i class="fas fa-tint"></i> Transactions</h1>
<a id="new" href="/transactions/new" class="btn btn-primary active">
  <i class="fas fa-plus"></i> New Transaction
</a>
<div>
    <div class="transaction-group">
        <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for user in obj %}
              <tr>
                <td>{{ user.date }}</td>
                <td>{{ user.person }}</td>
                <td>{{ user.transactionType }}</td>
                <td>{{ user.amount }}</td>
                <td>{{ user.paymentType }}</td>
                <td></td>
                <td><i class="far fa-trash-alt"></i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    
    </div>
    

    


{% endblock %}