{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="{% static 'css/transaction_create.css' %}">

</head>
<h1 class="people_create-title"> New Transaction</h1>
 <div class="bloc-indent">
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
<form method="POST"> 
    {% csrf_token %}
    <p>{{ form.person|as_crispy_field }} </p>
    <p>{{ form.transactionType|as_crispy_field }}    </p>
    <p>{{ form.amount|as_crispy_field }}</p>
    <p>{{ form.paymentType|as_crispy_field }}</p>
    <p>{{ form.paymentStatus|as_crispy_field }}</p>
    <p>{{ form.date|as_crispy_field }}</p>
<input  id="new" type="submit" class="btn btn-lg " value="Create New Transaction"/>
</form>
 </div>
{% endblock %}