{% include "django/forms/widgets/input.html" %}

<script>
  $(function () {
    $('#id_startTime').keypress(function(e) {
    return false
});
$('#id_endTime').keypress(function(e) {
    return false
});
$('#id_date').keypress(function(e) {
    return false
});
    $("input[name='{{ widget.name }}']").datetimepicker({
      
      
      formatTime:"g:i A",
      step:15,
      format: 'm/d/Y g:i A',
      validateOnBlur: false,
      // mask: true,
      
       value: {value:new Date(),
   format:'m/d/Y h:i A'}


      
    });
  });
</script>